<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544957486835-p8ov3nlsjjd2ckto2qgorp1tie5of1ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544957486835-p8ov3nlsjjd2ckto2qgorp1tie5of1ue</string>
	<key>API_KEY</key>
	<string>AIzaSyBVMQieExbhce780Eh-jL5a5D2A_QmPv3I</string>
	<key>GCM_SENDER_ID</key>
	<string>544957486835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.coinsheet</string>
	<key>PROJECT_ID</key>
	<string>coinsheet-177fa</string>
	<key>STORAGE_BUCKET</key>
	<string>coinsheet-177fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544957486835:ios:42dfc66f411123dc1e0986</string>
</dict>
</plist>